header{
  display:flex;
  align-items:center;
  min-height:150px;

  background-image:url(../img/download/ai-generated-8759666_1280.jpg);
  background-size:100%;
  background-color:rgba(0,0,0,0.5);
  background-blend-mode:darken;
  background-position:center;
  object-fit:cover;
}

h1{
  font-size:24px;
  margin:0;
  gap:10px;
  padding-right:10px;

  color:white;
}
.logo{
  width:50px;
  height:50px;
  /* margin:10px; */
  vertical-align:middle;
  margin-left:0.5em;
  margin-right:0.5em;
}

