.keyboard{
  overflow-y:scroll;
  overflow-x:hidden;
  height: 100%;
  -ms-overflow-style: none;
}
.keyboard::-webkit-scrollbar{
  display:none;
}

.keyboard .octave{
  display:flex;
  flex-direction:column;
  position:relative;
  width:calc(var(--key-width) - var(--octave-size));
  height:calc(var(--key-height) * 7);
  margin-left:var(--octave-size);
}
.keyboard .octave *{
  position:absolute;
  cursor:pointer;
  border:1px solid black;
}

.keyboard .octave *[data-status='active']{
  background-color:orange!important;
}
.keyboard .octave *[data-status='playing']{
  background-color:#4fc3f7!important;
  box-shadow: 0 0 8px 2px rgba(79, 195, 247, 0.6);
  transition: background-color 0.05s;
}
.keyboard .octave *:active{
  background-color:red!important;
}

.keyboard .octave > *[data-type='key']{
  width:100%;
  height:var(--key-height);
  left:0;
  z-index:1;
  border-top:0;
  border-radius:0 2px 2px 0;
  /* background: linear-gradient(135deg, #fff, #aaa); */
  background-color:white;
  /* background-color: linear-gradient(#fff 50%, #eee); */
}
.keyboard .octave:first-child > *[data-type='key']:first-child{
  border-top:1px solid black;
}
.keyboard .octave:last-child > *[data-type='key']:last-child{
  border-bottom:0;
}
.keyboard .octave > *[data-type='key'][data-key='b']{
  top:calc(var(--key-height) * 0);
}
.keyboard .octave > *[data-type='key'][data-key='a']{
  top:calc(var(--key-height) * 1);
}
.keyboard .octave > *[data-type='key'][data-key='g']{
  top:calc(var(--key-height) * 2);
}
.keyboard .octave > *[data-type='key'][data-key='f']{
  top:calc(var(--key-height) * 3);
}
.keyboard .octave > *[data-type='key'][data-key='e']{
  top:calc(var(--key-height) * 4);
}
.keyboard .octave > *[data-type='key'][data-key='d']{
  top:calc(var(--key-height) * 5);
}
.keyboard .octave > *[data-type='key'][data-key='c']{
  top:calc(var(--key-height) * 6);
}

.keyboard .octave > *[data-type='flat']{
  width:50%;
  height:calc(var(--key-height) * 0.8);
  top:50%;
  left:0;
  background-color:black;
  z-index:2;
  border-radius:0 4px 4px 0;
}
.keyboard .octave > *[data-type='flat'][data-key='b-']{
  top:calc(var(--key-height) * 0 + var(--key-height) * 0.5);
}
.keyboard .octave > *[data-type='flat'][data-key='a-']{
  top:calc(var(--key-height) * 1 + var(--key-height) * 0.5);
}
.keyboard .octave > *[data-type='flat'][data-key='g-']{
  top:calc(var(--key-height) * 2 + var(--key-height) * 0.5);
}
.keyboard .octave > *[data-type='flat'][data-key='e-']{
  top:calc(var(--key-height) * 4 + var(--key-height) * 0.5);
}
.keyboard .octave > *[data-type='flat'][data-key='d-']{
  top:calc(var(--key-height) * 5 + var(--key-height) * 0.5);
}

.keyboard .octave::before{
  content:attr(data-octave);
  display:flex;
  width:20px;
  height:100%;
  background-color:white;
  position:absolute;
  top:0;
  left:calc(var(--octave-size) * -1);
  /* border:1px solid black; */
  align-items:center;
  justify-content:center;
  font-size:12px;
}
.keyboard .octave:nth-of-type(1)::before{
  background-color:#ff7f7f;
}
.keyboard .octave:nth-of-type(2)::before{
  background-color:#ff7fbf;
}
.keyboard .octave:nth-of-type(3)::before{
  background-color:#ff7fff;
}
.keyboard .octave:nth-of-type(4)::before{
  background-color:#bf7fff;
}
.keyboard .octave:nth-of-type(5)::before{
  background-color:#7f7fff;
}
.keyboard .octave:nth-of-type(6)::before{
  background-color:#7fbfff;
}
.keyboard .octave:nth-of-type(7)::before{
  background-color:#7fffff;
}
.keyboard .octave:nth-of-type(8)::before{
  background-color:#7fffbf;
}
.keyboard .octave:nth-of-type(9)::before{
  background-color:#7fff7f;
}
.keyboard .octave:nth-of-type(10)::before{
  background-color:#bfff7f;
}
.keyboard .octave:nth-of-type(11)::before{
  background-color:#ffff7f;
}
.keyboard .octave:nth-of-type(12)::before{
  background-color:#ffbf7f;
}