@import 'menubar.css';
@import 'main_frame.css';
@import 'keyboard.css';
@import 'editor.css';
@import 'timeline.css';
@import 'header.css';
@import 'control.css';
@import 'string.css';
@import 'layer.css';
@import 'timebar.css';

:root{
  --key-width     : 100px;
  --key-height    : 30px;
  --editor-line   : #aaa;
  --editor-height : 500px;
  --time-sec      : 1200px;
  --time-msec     : 50px;
  --time-msec-step : 10;
  --octave-size   : 20px;
}

html,body{
  width               : 100%;
  height              : 100%;
  padding             : 0;
  margin              : 0;
  border              : 0;
  outline             : 0;
  scroll-behavior     : smooth;
}
  
body{
  border              : 1px solid transparent;
  min-width:1000px;
  background: linear-gradient(135deg, #fff, #aaa);
}

*, *:before, *:after {
  -webkit-box-sizing  : border-box;
     -moz-box-sizing  : border-box;
       -o-box-sizing  : border-box;
      -ms-box-sizing  : border-box;
          box-sizing  : border-box;
}
  
table{
  border-collapse:collapse;
}

.no-select,
.no-select *{
  -webkit-user-select : none;
     -moz-user-select : none;
      -ms-user-select : none;
          user-select : none;
}

ul,ol,li{
  list-style          : none;
  margin              : 0;
  padding             : 0;
}

.hidden{
  display             : none!important;
}

button{
  background          : none;
	border              : none;
	outline             : none;
	-webkit-appearance  : none;
	   -moz-appearance  : none;
	        appearance  : none;
}

.flex{
  display             : flex;
}

input[type='text'],
input[type='number']{
  outline            : 0;
}

.right{
  text-align         : right;
}

input,select,textarea{
  outline:none;
}
